.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.center-both {
    justify-content: center;
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.gap-1 {
    gap: 1rem;
}